/* tailwind-components */
@import "./tailwind/components";
/* tailwind-utilities */
@import "./tailwind/utilities";
/* tailwind-dark-mode */
@import "./tailwind/dark-mode";
/* tailwind-colors */
@import "./tailwind/colors";

/* local theme imports */
@import "./bulk_actions";
@import "./electron";
@import "./devise";
@import "./fields";
@import "./turn";

/* prefab fonts */
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Golos+Text:wght@400;700&family=Plus+Jakarta+Sans:wght@400;700&display=swap");

/* TODO there is probably a better way to do this. */
.hover-indent-child {
  .indent-child {
    transition: transform 0.2s ease;
  }
  &:hover {
    .indent-child {
      transform: translateX(8px);
    }
  }
}

form.button_to {
  @apply inline-block;
  input[type="submit"] {
    @apply bg-transparent;
    &.button {
      @apply bg-primary-500 hover:bg-primary-600;
    }
  }
}

/* hide the first breadcrumb chevron */
ol.breadcrumb li:first-child svg {
  display: none;
}
